# Default ignored files
/../../chat-with-your-pdf /.idea/shelf/
/../../chat-with-your-pdf /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../chat-with-your-pdf /.idea/httpRequests/
# Datasource local storage ignored files
/../../chat-with-your-pdf /.idea/dataSources/
/../../chat-with-your-pdf /.idea/dataSources.local.xml
